:root {
    --primary: #A18EDA;
    --secondary: #d88eb1;
    --light: rgb(224, 195, 233);
    --background: #FACBC2;
    --title-background: var(--primary);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0;
    background-color: var(--background);
    height: 100%;
    min-width: 400px;
}

header {
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

section {
    margin-top: 30px;
}

dt {
    padding-bottom: 15px;
    padding-top: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
}

dd {
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    padding-left: 50px;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--light);
}

ul {
    list-style-type: none;
}

ul li {
    margin: 8px 0;
}

footer {
    font-size: 18px;
    margin-top: 8px;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: var(--secondary);
}

.title {
    background-color: var(--title-background);
    color: white;
    padding: 20px;
}

.subtitle {
    background-color: var(--secondary);
    color: white;
    padding: 20px 8px;
    margin: 16px 0;
}

.flex-container {
    position: relative;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    max-width: 1200px;
    min-width: 900px;
    width: auto;
}

.flex-item {
    width: 100%;
}

.icono {
    width: 35px;
}

.fa-laptop, .fa-book {
    margin-right: 20px;
}