footer .footer-top {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .footer-top .footer-top-start {
  display: flex;
}

footer .footer-top .footer-top-start + .footer-top-end {
  margin: 20px;
}

footer .footer-top .footer-top-start .icon {
  display: flex;
  flex-direction: column;
}

footer .footer-top .footer-top-start .icon img {
  width: 48px;
  margin: 10px;
}

footer .footer-top .footer-top-start dl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .footer-top .footer-top-start dl dt {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding: 3px 4px;
  margin-top: 14px;
}

footer .footer-top .footer-top-start dl dd {
  color: #8a8787;
  font-weight: bold;
  font-size: 10px;
  padding: 2px 4px;
}

footer .footer-top .footer-top-start div {
  display: flex;
}

footer .footer-top .footer-top-end {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer .footer-top .footer-top-end .footer-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

footer .footer-top .footer-top-end .footer-logo p {
  font-size: 30px;
  color: var(--primary);
  font-weight: bold;
}

footer .footer-top .footer-top-end .footer-logo p span {
  color: white;
}

footer .footer-top .footer-top-end .social-media img {
  width: 32px;
}

footer .footer-top .footer-top-end .social-media ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

footer .footer-bottom {
  background-color: black;
  color: white;
  padding: 4px;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

footer .footer-bottom p {
  color: white;
}
