.button {
    background-color: var(--primary-color);
    border-radius: 7px;
    bottom: 18px;
    right: 4px;
    color: var(--card-background-color);
    font-size: 15px;
    margin: 18px 85px;
    padding: 15px 36px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 128px;
    transition: all 1s;
}

.button:hover {
    background-color: var(--primary-color-darker);
}