.card {
    border-radius: 25px 25px 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 60px;
    height: 336px;  
    position: relative;
    width: 300px;
    margin: 160px 20px;
}

.card-top {
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    height: 250px;
}

.card-batman {
    background-image: url(../img/bg-batman.jpg);
    background-position-x: -230px;
    background-position-y: center;
    background-size: 180%;
}

.card-wonder-woman {
    background-image: url(../img/bg-wonderw.jpg);
    background-position-x: -100px;
    background-position-y: -50px;
    background-size: 180%;
}

.card-superman {
    background-image: url(../img/bg-superman.jpg);
    background-position-x: -100px;
    background-position-y: -50px;
    background-size: 190%;
}

.info-card {
    margin: 15px 0;
    padding: 10px 30px;
    text-align: justify;
}

.text-card {
    background-color: var(--card-background-color);
    font-size: 16px;
    height: 430px;
    position: relative;
    text-align: center;
}