h2 {
    text-transform: uppercase;
    padding-top: 70px;
    font-size: 30px;
}

.character-img {
    border-radius: 100%;
    height: 120px;
    left: 90px;
    position: absolute;
    top: 162.5px;
    width: 120px;
    z-index: 1;
}

.card {
    border-radius: 25px 25px 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    min-width: 300px;
    max-width: 300px;
    margin: 40px 30px;
    display: inline-block;
}

.card-top {
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    height: 220px;
}

.card-batman {
    background-image: url(../img/bg-batman.jpg);
    background-position-x: -230px;
    background-position-y: center;
    background-size: 180%;
}

.card-wonder-woman {
    background-image: url(../img/bg-wonderw.jpg);
    background-position-x: -100px;
    background-position-y: -50px;
    background-size: 180%;
}

.card-superman {
    background-image: url(../img/bg-superman.jpg);
    background-position-x: -100px;
    background-position-y: -50px;
    background-size: 190%;
}

.card-harley-quinn {
    background-image: url(../img/bg-hquinn.png);
    background-position-x: -40px;
    background-size: 135%;
}

.info-card {
    padding: 15px;
    font-size: 16px;
    text-align: justify;
}

.text-card {
    background-color: var(--card-background-color);
    height: 336px;
    position: relative;
    text-align: center;
}