.fa-heart {
    color: var(--heart-color);
    font-size: 35px;
    left: 6%;
    position: absolute;
    top: 3%;
}

.fa-plus {
    background-color: var(--primary-color);
    border-radius: 100%;
    bottom: 25%;
    color: var(--background-color);
    font-size: 30px;
    padding: 14px;
    position: fixed;
    right: 1%;
}

.fa-plus:hover {
    background-color: var(--light-blue);
}
