@import url('cards.css');
@import url('button.css');
@import url('icons.css');
@import url('pop-up-window.css');
@import url('header.css');
@import url('nav-bar.css');
@import url('forms.css');
@import url('carousel.css');
@import url('harley-quinn.css');

:root {
    --primary-color: #00669F;
    --primary-color-lighter: #3b7da3;
    --primary-color-darker: #001D2D;
    --advertise-color: #1CD1B0;
    --heart-color: #CC2424;
    --card-background-color: #F3F3F3;
    --background-color: #fff;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 25px;
}

footer p {
    font-size: 18px;
    text-align: center;
    width: 100%;
}