@import url('cards.css');
@import url('button.css');
@import url('icons.css');
@import url('pop-up-window.css');

:root {
    --primary-color: #00669F;
    --primary-color-lighter: #3b7da3;
    --advertise-color: #1CD1B0;
    --heart-color: #CC2424;
    --card-background-color: #F3F3F3;
    --background-color: #fff;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    box-shadow: 0 10px 7px rgba(0, 0, 0, 0.25);
    color: var(--background-color);
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: sticky;
    top: 0;
    z-index: 999;
}

h2 {
    text-transform: uppercase;
    padding-top: 73px;
    font-size: 30px;
}

img {
    border-radius: 100%;
    height: 120px;
    left: 90px;
    position: absolute;
    top: 162.5px;
    width: 120px;
    z-index: 1;
}

section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--background-color);
    margin-top: 70px;
    padding: 25px;
}

footer p {
    font-size: 18px;
    text-align: center;
    width: 100%;
}

/********** Top of header ***********/
.discount {
    background-color: var(--advertise-color);
    font-size: 24px;
    padding: 1px;
    margin: 0;
    padding-left: 30px;
}