@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --gray: #222222;
  --red: #fc200c;
  --green: #39b24a;
  --lightWhite: #f3f3f3;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--lightWhite);
  font-family: "Roboto", sans-serif;
}

header, footer {
  background: var(--gray);
  color: var(--white);
  padding: 0.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
}

header nav ul {
  display: flex;
  gap: 3px;
}

header nav ul li, footer ul li {
  padding: 6.5px;
}

header .header__logo, footer .footer__logo {
  display: flex;
  align-items: center;
}

header .header__logo h1, footer .footer__logo h1 {
  padding: 10px;
}

header .header__logo span,
footer .footer__logo span {
  color: var(--green);
}

header .header__logo span:nth-child(2),
footer .footer__logo span:nth-child(2) {
  color: var(--red);
}

main {
  padding: 35px 0px;
  /* Alto del main: alto viewport - alto Header - alto Footer 
     Me aseguro que el main ocupa todo el alto disponible */
  min-height: calc(100vh - 100px - 150px);  
}

main .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(100vh - 200px); 
}

main section .card {
  border-radius: 5px;
  height: 21.875rem; /* 350px/16px (16px=1rem) */
  width: 30.625rem;  /* 490px/16px (16px=1rem) */
}

main section .delivery {
  background: url("../img/delivery.jpg");
  color: var(--red);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
}

main section .delivery span {
  color: var(--lightWhite);
}

main section .podio {
  background: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

main section .podio h3 {
  color: var(--red);
  font-size: 24px;
  text-align: center;
  padding: 26px;
  width: 100%;
}

.podio .top5 .podio__pizzas h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.top5 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top5 .podio__pizzas ol {
  list-style-position: inside;
  margin: 5px;
}

.top5 .podio__pizzas ol li {
  padding: 10px 0;
}

footer {
  background: #222;
  padding: 19px 20px;
}

footer .footer__logo {
  color: var(--lightWhite);
  font-size: 14px;
  order: 1;
}

footer ul {
  color: var(--lightWhite);
  display: flex;
  flex-direction: column;
}

footer ul li:nth-child(1) {
  order: 0;
}

footer ul li:nth-child(2) {
  order: 2;
}

footer ul li:nth-child(3) {
  order: 3;
}

footer ul li:nth-child(4) {
  order: 1;
}

.menu {
    display: none;
}

@media screen and (max-width: 768px) {
   /* - Ocultar los botones de nav (del header)
      - Añadir el ícono hamburguesa */
  .menu {
    display: block;
    color: var(--lightWhite);
    font-size: 28px;
  }

  header nav ul {
    display: none;
  }

  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {

  main section .card {
    height: 20rem;
    width: 18rem;
  }

  .top5 .podio__pizzas ol li {
    padding: 5px 0px;
  }
}